<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/vHead :: head">
    <meta charset="UTF-8" />
    <title>添加服务器</title>
</head>
<body>
<div class="box box-info">
    <form class="form-horizontal" id="form-form" action="save" method="post">
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10">
                    <input class="form-control" name="name" placeholder="名称" />
                </div>
                <label class="col-sm-2 control-label">HOST</label>
                <div class="col-sm-10">
                    <input class="form-control" name="host" placeholder="IP地址" />
                </div>
                <label class="col-sm-2 control-label">描述</label>
                <div class="col-sm-10">
                    <input class="form-control" name="describe" placeholder="服务器描述" />
                </div>
            </div>

            <!-- 添加服务器SSH登录用户,多个 -->
            <div class="form-group">
                <label class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input class="form-control" name="users[0].username" placeholder="用户名" />
                </div>
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="users[0].password" placeholder="密码" />
                </div>
            </div>

        </div>
    </form>
</div>
<div class="box-footer">
    <button class="btn btn-default" style="float: right;margin-left: 1em;" onclick="closeWindow()">取消</button>
    <button class="btn btn-info pull-right" onclick="save()">保存</button>
</div>
</body>
<div th:replace="fragment/vJsLib :: jsLib"></div>
<script>
    // 关闭窗口
    function closeWindow() {
        var index= parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }

    // 保存
    function save() {
        $.ajax({
            cache: true,
            type: "POST",
            url:"save",
            data:$('#form-form').serialize(),
            async: false,
            success: function(data) {
                closeWindow();
                layer.msg('保存成功', {icon: 1})
            },
            error:function () {
                layer.msg('保存失败',{icon:2})
            }
        });
        
    }
</script>
</html>