<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/vHead :: head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header th:replace="fragment/vHeader :: header"></header>
		<aside th:replace="fragment/vSideBar :: sideBar"></aside>
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					首页 <small>控制面板</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
					<li class="active">控制面板</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">content</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer th:replace="fragment/vFooter :: footer"></footer>
	</div>
	<!-- /#wrapper -->

	<!-- js lib -->
	<div th:replace="fragment/vJsLib :: jsLib"></div>
</body>
</html>
